@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background: url('../background/village.jpg') no-repeat center center/cover;
  min-height: 100vh;
  color: #000000;
}

body::before {
  content: '';
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

/* === Navbar === */
.navbar {
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  z-index: 10;
  height: auto;
}

/* Navbar Logo */
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 80px;       
  height: auto;       
  display: block;
}

.logo-text {
  background: linear-gradient(90deg, #2A529B, #B0A32E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .logo img {
    width: 90px;      
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 70px;     
  }
}


.navbar ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #f0b90b;
}
